/*sección de contactanos*/

.contactanos__titulo{
    font-weight: 600;
    text-align: center;
    font-size: $fuente-grande;
}

.map {
    text-align: center;
}

.form-label {
    font-size: $fuente-chica;
}
.formulario {
    padding: $espacio-grande;
    margin: $espacio-Xchico;
    font-size: $fuente-media;
    text-align:center;
}
